<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- REFERENCIA :: INSTALL -->
	<context:annotation-config />
	<context:component-scan base-package="com.sancorsalud" />
	<tx:annotation-driven transaction-manager="transactionManager" />
	<aop:aspectj-autoproxy proxy-target-class="false" expose-proxy="true" />

	<!-- Archivos de propiedades externas -->
	<context:property-placeholder location="classpath:jdbc-db2.properties" ignore-unresolvable="true"/>
	<context:property-placeholder location="classpath:cnfg.properties" ignore-unresolvable="true" />

	<!-- Mensajes / Internacionalización -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<!-- DB :: Datasource -->
	<bean id="dataSource_db2"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="${jdbc.db2.driverClassName}"
		p:url="${jdbc.db2.databaseurl}"
		p:username="${jdbc.db2.username}"
		p:password="${jdbc.db2.password}" />

	<bean id="sessionFactory_db2" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource_db2" />
		<property name="packagesToScan" value="com.sancorsalud.entity" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.db2.dialect}</prop>
				<prop key="hibernate.show_sql">${jdbc.db2.showsql}</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager_db2" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory_db2" />
	</bean>

	<bean id="config" class="com.sancorsalud.Config">
		<property name="pathReportes" value="${reportes.path}" />
		<property name="urlReportes" value="${reportes.url}" />
	</bean>

</beans>
